.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* /--------------------------------------------------- */
#menuFrontShowCaseBox{
  background-color: rgb(255, 255, 255);
  border: 4px solid red;
  border-left: red;
  border-right: red;
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
}

#menu{
  list-style-type: none;
  display: flex;
  align-items: center;
}

#companyLogo{
  float: left;
  margin-right: 5%;
}

.linkbox{
  display: inline;
  margin: 35px;
}

/* Word Link Css */
.navLink{
  font-size: 45px;
  text-decoration: none;
  color: black;
  transition: ease all 0.3s;
}

.navLink:hover{
  color: red;
}

.navLinkLogo{
   color: red;
}
